/*escape*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

#escape {
  text-align:center;
 width: 100%;
 height: 70px;
 z-index: 1;
  
 
 
  background:linear-gradient(141deg, rgb(112, 107, 107) 25%, rgb(182, 168, 168) 40%, rgb(47, 46, 46) 55%);
 color: rgb(51, 51, 46);
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 1em;
  font: weight 300;;
   overflow:hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
  
}

.escape {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
 
font-size: 1.1em;
font: weight 300;

   overflow:hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
 
 
}

.escape:first-of-type {    /* For increasing performance 
                       ID/Class should've been used. 
                       For a small demo 
                       it's okaish for now */
  animation: showup 10s ease-in-out infinite;
}

.escape:last-of-type {
  width:0px;
  animation: reveal 10s ease-in-out infinite;
}

.escape:last-of-type span {
  margin-left:-15%;
  animation: slidein 12s ease-in-out infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-35%; }
    20% { margin-left:-35%; }
    35% { margin-left: 0px; }
    100% { margin-left:-0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:100%;}
    80% {opacity:1;}
    100% {opacity:0;width:0px;}
}

span {
  color: red;
}